
@{
    ViewBag.Title = "Menu Principal";
}

<div class="menu">
    <div class="row col-md-8">
        <div class="col-md-3">
            <img class="menuHeaderImage" src="@Url.Content("~/Content/Image/escudoSinFondo.png")">
        </div>
        <div class="col-md-9">
            <h3 class="menuHeaderTitle">Menú Principal</h3>
        </div>
    </div>
    <div class="row col-md-8">
        <div class="col-md-12">
            <button type="button" class="menuButton" onClick="location.href='@Url.Action("dailyProcedure", "Procedure")'">Recibir Documentos Diarios</button>
<<<<<<< HEAD
            <button type="button" class="menuButton" onClick="location.href='@Url.Action("displayProcedure", "Procedure")'">Vizualizar Trámite</button>
            <button type="button" class="menuButton" onClick="location.href='@Url.Action("Index", "LogIn")'">Salir</button>
=======
            <button type="button" class="menuButton" onClick="location.href='@Url.Action("displayProcedure", "Procedure")'">Visualizar Trámite</button>
            <button type="button" class="menuButton">Salir</button>
>>>>>>> 284fa7c91d4cb0147efb3a4b8f955597f609515e
        </div>
    </div>
</div>
