@{
    ViewBag.Title = "AddProcedure";
}

<h2>AddProcedure</h2>
<h4>FEcha obtenida: @ViewBag.date</h4>
<h4>Departamento seleccionado: @ViewBag.department</h4>
<h4>Codigo asignado: @ViewBag.code</h4>
<h4>Tipo de cedula: @ViewBag.idType</h4>
<h4>Cedula: @ViewBag.personId</h4>
<h4>Tipo tramite: @ViewBag.procedureType</h4>
<h4>DEtalle ingresado: @ViewBag.detail</h4>

