@using System.Data

<div class="editProcedure">
		<div class=" row col-md-12">
			<div class="imageContainer col-md-4">
				<img class="headerImage" src="@Url.Content("~/Content/Image/escudo_66x81.png")">
			</div>
			<div class=" col-md-8">
				<h4 class="headerTitle">Editar Trámite</h4>
			</div>
		</div>
		<div class="row col-md-12 editContainer">
			<div class="col-md-4 editRow">
				<label>Ingrese el código del Trámite:</label>
			</div>
			<div class="col-md-3">
				<input type="text" runat="server" name="searchCode" id="searchCode" class="form-control" pattern="[a-zA-Z]{2,}-\d{1,}-\d{4}$" placeholder="Ej: HR-0-2017">
			</div>
			<div class="col-md-2">
				<button class="editButton" id="getProcedureData">Obtener</button>
			</div>
		</div>
		<div class="row col-md-12" id="formContainer">
            @using (Html.BeginForm("AddProcedure","Procedure"))
            {
                 <div class="col-md-12 form-horizontal">
			          <div class="form-group">
			  	        <div class="labelDiv col-md-4">
			  		        <label class="control-label" for="procedureDate">Fecha:</label>
			  	        </div>
			            <div class="  col-md-8">
			              <input type="date" name="procedureDate" class="form-control" runat="server" id="procedureDate" placeholder="dd/mm/aaaa" required readonly="">
			            </div>
			          </div>
			          <div class="form-group">
			  	        <div class="labelDiv col-md-4">
			  		        <label class="control-label" for="department">Departamento:</label>
			  	        </div>
			            <div class="col-md-8">
                            <input type="date" name="department" class="form-control" runat="server" id="department" required readonly="">
			            </div>
			          </div>
			          <div class="form-group">
			  	        <div class="labelDiv col-md-4">
			  		        <label class="control-label" for="codeProcedure">Código:</label>
			  	        </div>
			            <div class="col-md-8" id="divCodeContainer">
                            <input type="text" runat="server" name="codeProcedure" id="codeProcedure" class="form-control" readonly="" required>
			            </div>
			          </div>
			          <div class="form-group">
			  	        <div class="labelDiv col-md-4">
			  		        <label class="control-label" for="idType">Tipo de Cédula:</label>
			  	        </div>
			            <div class="  col-md-8">
				            <select name="idType" class="form-control" runat="server" id="idType" required>
				    	        <option value="" disabled selected="">Seleccione el tipo de identificación</option>
                                    @foreach (DataRow row in ViewBag.identifyType.Tables["IdentifyTypeList"].Rows)
                                    {
                                        <option value="@row["idTypeOfIdentify"]">@row["TypeOfIdentify"]</option>
                                    }
					        </select>
			            </div>
			          </div>
			          <div class="form-group">
			  	        <div class="labelDiv col-md-4">
			  		        <label class="control-label" for="personId">Cédula del Solicitante:</label>
			  	        </div>
			            <div class="col-md-8">
			              <input type="text" runat="server" name="personId" id="personId" class="form-control" required>
			            </div>
			          </div>
			          <div class="form-group">
			  	        <div class="labelDiv col-md-4">
			  		        <label class="control-label" for="procedureType">Tipo de Trámite:</label>
			  	        </div>
			            <div class="  col-md-8">
				            <select name="procedureType" class="form-control" runat="server" id="procedureType" required>
				    	        <option value="" disabled selected="">Seleccione el tipo de Trámite</option>
                                    @foreach (DataRow row in ViewBag.procedureType.Tables["ProcedureTypeList"].Rows)
                                    {
                                        <option value="@row["idTypeOfProcedure"]">@row["TypeOfProcedure"]</option>
                                    }
					        </select>
			            </div>
			          </div>
			          <div class="form-group">
			  	        <div class="labelDiv col-md-4">
			  		        <label class="control-label" for="procedureDetail">Detalle del Trámite:</label>
			  	        </div>
			            <div class="col-md-8">
			              <textarea class="form-control" name="procedureDetail" rows="5" cols="30" id="procedureDetail" placeholder="Ingrese una descripción del documento a registrar" runat="server" maxlength="300" required></textarea>
			            </div>
			          </div>
			          <div class="buttonDiv form-group"> 
			  	        <div class="  col-md-4">
			    	        <button type="button" class="backButton btn" aria-label="Left Align" onClick="location.href='@Url.Action("platFormBossMenu", "Menu")'">
						        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
					        </button>
			            </div>
			            <div class=" col-md-8">
			    	        <button type="submit" class="sendButton">Guardar</button>
			            </div>
			          </div>
			    </div>
            }
		</div>
    
</div>


@section Scripts {
<script>
    $('#getProcedureData').click(function () {
        var code = $('#searchCode').val();
        $.ajax({
            url: '/Procedure/getProcedureData',
            contentType: 'application/html; charset=utf-8',
            data: { procedureCode: code },
            type: 'GET',
            dataType: 'text'

        })
        .success(function (result) {
            alert(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    });

    $('#idType').change(function () {
        var idVal = $('#idType').val();
        $.ajax({
            url: '/Procedure/updateFormatId',
            contentType: 'application/html; charset=utf-8',
            data: { idTypeOfIdentify: idVal },
            type: 'GET',
            dataType: 'json'

        })
        .success(function (result) {
            $("#personId").attr("placeholder", result[0]);
            $("#personId").attr("pattern", result[1]);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    });
</script>
}