@using System.Data
@{
    ViewBag.Title = "Buscar Oficio";
}

<div class="searchProcedure">
    <div class="row col-md-12">
        <div class="col-md-2">
            <img class="menuHeaderImage" src="@Url.Content("~/Content/Image/escudoSinFondo.png")">
        </div>
        <div class="col-md-10">
            <h3 class="headerSearchTitle">Buscar Oficios</h3>
        </div>
    </div>
    <div class="searchDivContainer row col-md-12">
        <div class="col-md-3">
            <button class="searchButton">Buscar por Fecha</button>
        </div>
        <div class="col-md-3">
            <select name="department" class="searchButton" runat="server" id="department" required>
                <option disabled="" selected="">Buscar por Departamento</option>
                 @foreach (DataRow row in ViewBag.deparmentTable.Tables["DepartmentsList"].Rows)
                                    {
                                        <option value="@row["department"]">@row["department"]</option>
                                    }
            </select>
        </div>
        <div class="col-md-3">
            <select name="platformist" class="searchButton" runat="server" id="platformist" required>
                <option disabled="" selected="">Buscar por Plataformista</option>
                <table style="width: 100%;">
                            @foreach (DataRow row in ViewBag.platformersTable.Tables["PlatformerList"].Rows)
                                    {
                                        <option value="@row["name"]">@row["name"]</option>
                                    }
                </table>

            </select>
        </div>
        <div class="col-md-3">
            <button class="searchButton">Buscar por Código</button>
        </div>
    </div>

    <div class="searchDivContainer row col-md-12">
        <div class="labelSearchDiv col-md-1">
            <label class="labelSearch">de</label>
        </div>
        <div class="col-md-3">
            <input type="date" name="dateBegin" class="form-control" id="from">
        </div>
        <div class="labelSearchDiv col-md-1">
            <label class="labelSearch">al</label>
        </div>
        <div class="col-md-3">
            <input type="date" name="dateEnd" class="form-control" id="to">
        </div>
        <div class="col-md-3">
            <button class="btnSearch" id="byDate">Buscar Por Fecha</button>
        </div>
    </div>


    <div class="searchDivContainer row col-md-12">
        <div class="labelSearchDiv col-md-4">
            <label class="labelSearch">Ingrese el código del trámite:</label>
        </div>
        <div class="col-md-4">
            <input type="text" name="searchCode" class="form-control" id="code">
        </div>
        <div class="col-md-4">
            <button class="btnSearch" id="byCode">Buscar</button>
        </div>



    </div>
    <div class="searchDivContainer row col-md-12">
        <div class="col-md-12" id="tbl">

        </div>
    </div>
    <div class="buttonBackDiv row col-md-12">
        <div class="col-md-12">
            <button type="button" class="backButton btn" aria-label="Left Align" onclick="location.href='platformMenu.html'">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
            </button>
        </div>
    </div>

</div>

@section Scripts {
<script>
    $('#department').change(function () {
        var idVal = $('#department').val();
        $.ajax({
            url: '/Procedure/searchDepartment',
            contentType: 'application/html; charset=utf-8',
            data: { dep: idVal },
            type: 'GET',
            dataType: 'text'
 
        })
        $('#tbl').load('/Procedure/searchDepartment', { dep: idVal })
        .error(function (xhr, status) {
            alert(status);
        })
    });

    $('#platformist').change(function () {
        var idVal = $('#platformist').val();
        $.ajax({
            url: '/Procedure/searchPlatformist',
            contentType: 'application/html; charset=utf-8',
            data: { plat: idVal },
            type: 'GET',
            dataType: 'text'

        })
        $('#tbl').load('/Procedure/searchPlatformist', { plat: idVal })
        .error(function (xhr, status) {
            alert(status);
        })
    });

    $('#byDate').click(function(){
        var idFrom = $('#from').val();
        var idTo = $('#to').val();
        $('#tbl').load('/Procedure/searchByDate', { from: idFrom, to: idTo })
        .error(function (xhr, status) {
            alert(status);
        })
    })

    $('#byCode').click(function () {
        var idCode = $('#code').val();
        $('#tbl').load('/Procedure/searchByCode', { code:idCode})
        .error(function (xhr, status) {
            alert(status);
        })
    })


</script>
    }