@using System.Data;
@{ Layout = null;}

<div class="row col-md-12">
    @if (ViewBag.searchTable.Tables["Table"].Rows.Count != 0)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Consecutivo</th>
                    <th>Departamento</th>
                    <th>Cédula</th>
                    <th>Estado del Trámite</th>
                    <th>Tipo de Trámite</th>
                    <th>Plataformista</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DataRow row in ViewBag.searchTable.Tables["Table"].Rows)
                { 
                    <tr>
                        <td>@(DateTime.Parse(row["Fecha"].ToString()).ToShortDateString())</td>
                        <td>@row["Consecutivo"]</td> 
                        <td>@row["Departamento"]</td> 
                        <td>@row["Cèdula"]</td>
                        <td>@row["Estado"]</td> 
                        <td>@row["Tipo de Procedimiento"]</td> 
                        <td>@row["Plataformista"]</td> 
                    </tr>
                }
            </tbody>
        </table>
    }else {
        <div class="alert alert-dismissible alert-info">
          <label>No se encontraron trámites registrados en el período consultado</label>
        </div>
    }
</div>
